*{
    margin: 0%;
    padding: 0%;
}
nav{
    background-image: linear-gradient(to bottom left,rgb(11, 11, 133),blue);
}
img
{
    margin-top:1rem;
    margin-bottom: 1rem;
    margin-left: 4%;
    width:5em;
    justify-content: center;
}
#primary-nav
{
    display: flex;
    float: right;
    padding: 2em;
    list-style: none;
}
li,a{
    text-decoration: none;
    color: white;
    font-size:1.5rem;
    padding:1em;
}