
footer {
    margin-top: 10vh;
    background-image: radial-gradient(rgb(58, 81, 169), rgb(7, 2, 146));
  }
  
  .footer-list-header {
    font-family: "Abhaya Libre", serif;
    text-align: center;
    color: #fff;
    text-decoration: underline;
    font-size: 2vw;
    font-weight: 600;
  }
  .footer ul {
    padding-top: 2vh;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 6vw;
    font-family: "Abhaya Libre", serif;
  }
  .footer ul li {
    padding-top: 0.5vh;
    box-sizing: border-box;
  }
  .footer-list-top li,
  .footer-list-top li a {
    list-style: none;
    text-decoration: none;
    font-size: large;
    padding-bottom: 0.3vw;
  }
  .footer-bottom-section {
    color: white;
    text-align: center;
  }
  .copyright {
    font-family: "Merriweather", serif;
    padding-bottom: 0.8vw;
  }
  .footer-social-section span{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-left: 17vw;
    margin-right: 10vw;
  }
  .footer-social-section span a{
    width:200px;
    height: 100px;
    font-size: 10vh;
    margin-bottom: 2vh;
  }
  /* .fa{ width:100px;} */