* {
  font-family: "Open Sans Condensed", sans-serif;
  box-sizing: content-box;
  margin: 0%;
  padding: 0%;
}
nav {
  font-size: 1.5vw;
  text-decoration: none;
  font-weight: 540;
  width: 100%;
  background-color: rgb(0, 90, 181);
}

#primary-nav {
  display: grid;
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  width: 100%;
}
img {
  height: 16vh;
  padding: 2vh 4vw 0vh 2vw;
  /* display:inline-block; */
  /* padding-left: 4vw; */
}
#moto {
  grid-column-start: 0;
  grid-column-end: 2;
  grid-row-start: 0;
  grid-row-end: 1;
  color: #fff;
  margin-bottom: 1vh;
  margin-left: 4vw;
  font-size: 2vh;
}

#mid {
  display: flex;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 0;
  grid-row-end: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 80%;
  color: white;
  /* margin-left: 8vw; */
  padding-top: 2vh;
}
.primary_nav_items {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 0;
  grid-row-end: 1;
}
.primary_nav_items ul {
  /* align-items:center; */
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 100%;
  align-items: center;
  padding-right: 2vw;
  list-style: none;
  text-decoration: none;
}
.primary_nav_items ul li {
  padding-left: 1vw;
  /* height: 50%; */
  padding-top: 3vh;
  padding-bottom: 3vh;
  align-items: center;
  padding-right: 1vw;
}
a {
  text-decoration: none !important;
}
#moto img {
  width: 6vw;
  height: auto;
}
.hindi_quote {
  width: 15vw;
  font-size: 110%;
}
.iiit {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  font-size: 150%;
}
.nav_items {
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 2;
  /* width:100vw; */
  /* overflow: scroll; */
}
.items {
  position: relative;
  display: inline-block;
}
.rem-item {
  display: flex;
  justify-content: space-around;
  background-color: rgb(27, 45, 140);
  flex-wrap: wrap;
  height: 100%;
  position: static;
  /* overflow: scroll; */
  padding: 0% !important;
  /* align-items: center; */
}
.rem-item li {
  padding: 0%;
  /* justify-self:center; */
  list-style: none;
  width: 14.2%;
  font-size: 1.5vw;
  text-align: center;
  padding-top: 2vh;
  /* padding-bottom: 2vh; */
  margin: 0%;
}
.rem-item li ul {
  margin: 12px;
  padding: 0%;
}
.rem-item li a {
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
  padding: 0%;
  margin: 0%;
  text-decoration: none;
}
.rem-item .items:hover {
  /* color: rgb(197, 18, 18) !important; */
  background-color: rgb(27, 45, 140);
}
.droplist {
  display: none;
  overflow: hidden;
  position: absolute;
  background-color: inherit;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 0% !important;
  padding-left: 0%;
  z-index: 1;
}
.droplist li {
  text-align: center;
  margin: 0% !important;
  padding: 0%;
  width: 100%;
  align-self: center;
  padding-top: 3%;
  padding-bottom: 3%;
  border-top: 2px red;
}
.droplist li a {
  font-size: 1.2rem !important;
  font-weight: 530;
  text-align: center;
}
.droplist li:hover {
  animation: fadeInAnimation ease 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: rgb(85, 85, 94);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.rem-item .items:hover .droplist {
  display: flex;
  align-items: center;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: height 1s;
  flex-direction: column;
}
.rem-item .items:hover .droplist li {
  align-self: center;
}
a {
  color: #fff !important;
}
@media screen and (min-width: 850px) {
  .ul {
    display: none;
  }
}

@keyframes borderAnimation {
  0% {
    border-width: 0%;
  }
  100% {
    border-width: 100%;
  }
}
.primary_nav_items ul li:hover,
footer li:hover {
  border-bottom: 2px solid black;
}
nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}